<div class="row m-0 p-0 page flex-column flex-nowrap">
    <div class="col-auto m-0 p-0 position-sticky overflow-hidden" style="top: 0; z-index: 20">
        <app-navbar></app-navbar>
    </div>
    <div class="col m-0 p-0 h-100">
        <router-outlet></router-outlet>
    </div>
</div>


<div class="bg-image-container" id="bg-image-container">
    <img class="golden_img" src="assets/project/cloud.jpeg" alt="bg-image">
    <div [style.background-color]="router.url.includes('dashboard') ? 'rgba(36, 123, 159, 0.73)': router.url.includes('magazzino') ? 'rgba(255,155,0,0.73)': router.url.includes('fornitori') && !router.url.includes('preview/fornitori')  ? 'rgba(21,138,0,0.73)': router.url.includes('acquisti') ? 'rgba(100,36,159,0.61)': null "
         class="opacity-overlay"></div>
</div>
