<div class="row m-0 p-0 page vh-100 flex-column flex-nowrap overflow-hidden">
    <div class="col-auto m-0 p-0 position-sticky" style="top: 0; z-index: 20">
        <app-navbar></app-navbar>
    </div>
    <div class="col m-0 p-0 h-100 overflow-auto overflow-x-hidden">
        <router-outlet></router-outlet>
    </div>
</div>


<div class="bg-image-container" id="bg-image-container">
    <img class="golden_img" src="assets/project/cloud.jpeg" alt="bg-image">
    <div class="opacity-overlay"></div>
</div>
