.navbar {
}

.navbar-title {
  font-weight: 800;
  font-size: 24px;
}

.navbar-page {
  font-weight: 400;
  cursor: pointer;
  padding: 0px;
  margin: 10px;
}

.logged-in-as, username {
  text-align: right;
}

.username {
  font-weight: 800;
}

.user-group {
  cursor: pointer;
}

.user-group:active {

}