<div class="row navbar p-4 align-items-center justify-content-start flex-nowrap" style="gap: 10px;">

    <div class="col-auto">
        <img style="cursor: pointer" routerLink="/pages/dashboard" width="40px" src="assets/project/logo-no-bg.png" alt="logo_no_bg">
    </div>
    <div  style="cursor: pointer" routerLink="/pages/dashboard" class="col navbar-title m-0 p-0">
        OrderBridge
    </div>

    <div (click)="shouldSeeDropDown = !shouldSeeDropDown; openModal()" class="user-group col-auto d-flex align-items-center justify-content-end"
         style="gap: 10px">

        <div class="d-flex justify-content-center align-content-end flex-column">
            <span class="logged-in-as">Logged in as</span>
            <span class="username">{{(currentUser$ | async)?.fullName}}</span>
        </div>

        <img width="45px" src="{{(currentUser$ | async)?.picture}}" alt="user_profile">
    </div>


</div>
