
/* Importing Bootstrap SCSS file. */
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./node_modules/bootstrap/scss/bootstrap";


body {
  background-color: #eeeeee;
}

.form-control {
  border-radius: 4px !important;
  color: black !important;

  &::placeholder {
    color: #c4c4c4;
    font-weight: 300;
  }
}
