// Colori
$white: rgb(255, 255, 255);
$gray-light: #bdbdbd;
$gray-light-a: #f1efef;
$green: #7dd100;
$green-a: rgb(240, 255, 216);
$green-b: rgb(235, 255, 193);
$green-c: rgb(164, 243, 2);
$green-d: rgb(110, 159, 0);
$gray-dark: #f3f3f3;
$shadow-color: rgba(149, 157, 165, 0.2);
$shadow-color-a: rgba(217, 217, 217, 0.2);
$button-hover-color: #e8e8e8;
$black: black;

// Select
$select-border-radius: 14px;
$select-border-click-color: rgba(245, 245, 245, 0.26);

// Altezza e bordo per gli input
$input-height: 42px;
$input-border-radius: 8px;
$input-border-width: 0.5px;
$input-font-size: 16px;
$input-font-size-medium: 14px;
$input-font-size-small: 13px;

// Altezza e bordo per i checkbox
$checkbox-size: 20px;
$checkbox-border-radius: 50%;
$checkbox-checked-border-width: 6px;

// Stili dei componenti
.input {
  &-text {
    padding: 10px;
    background-color: $white;
    height: $input-height;
    border-radius: $input-border-radius;
    border: solid $gray-light $input-border-width;
    font-size: $input-font-size;
  }

  &-checkbox[type=checkbox] {
    appearance: none;
    width: $checkbox-size;
    height: $checkbox-size;
    border: solid $gray-light $input-border-width;
    background-color: $white;
    cursor: pointer;
    border-radius: $checkbox-border-radius;

    &:checked {
      background-color: $white;
      border-color: $green;
      border-width: $checkbox-checked-border-width;
    }
  }
}

.modal-default {
  background-color: $gray-dark;
  border-radius: $input-border-radius;
  border: solid $input-border-width $gray-light;
  border: solid $input-border-width $gray-light;
  box-shadow: $shadow-color 0px 8px 12px;
}

.button {
  padding: 0 20px;
  border-radius: $input-border-radius;
  font-weight: 600;
  font-size: 14px;
  border: solid $gray-light $input-border-width;

  &-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 45px;
    color: $black;
    background-color: $white;
    border-radius: $input-border-radius;

    &:hover {
      transition: background-color 0.2s;
      background-color: $button-hover-color;
    }
  }

  &-primary {
    color: $black;
    height: 34px;

    &-default {
      background-color: $white;

      &:hover {
        background-color: $button-hover-color;
        transition: background-color 0.2s;
      }
    }
  }

  &-secondary {
    color: $black;
    height: 32px;
    font-size: 12px;

    &-default {
      background-color: $white;

      &:hover {
        background-color: $button-hover-color;
        transition: background-color 0.2s;
      }
    }

    &-info {
      background-color: $green-a;
      border: solid $green-c 0.5px;
      &:hover {
        background-color: $green-b;
        transition: background-color 0.2s;
      }
      &-box-shadow {
      box-shadow: $shadow-color-a 0px 8px 12px;
      }
    }
  }
}
