<form
  [formGroup]="resetForm"
  (onSumbit)="resetPassword()"
  class="row position-relative flex-column justify-content-center align-items-center"
>
  <div class="col d-flex align-items-center justify-content-center mt-3">
    <span class="form-title">Choose your new password</span>
  </div>
  <div class="col d-flex align-items-center justify-content-center p-0 mt-3">
    <input
      class="form-control"
      type="text"
      formControlName="new_password"
      placeholder="New password"
    />
  </div>
  <div class="col d-flex align-items-center justify-content-center p-0 mt-3">
    <input
      class="form-control"
      type="text"
      formControlName="confirm_password"
      placeholder="Confirm new password"
    />
  </div>
  <div class="col d-flex align-items-center justify-content-center p-0 mt-3">
    <button [disabled]="resetForm.invalid" type="submit" class="form-submit-button w-100">Confirm</button>
  </div>
  <div
    class="col position-relative error-popup d-flex align-items-center"
    *ngIf="errors.length > 0"
  >
    <img
      class="close"
      (click)="errors = []"
      width="20px"
      src="assets/project/close.svg"
      alt="close"
    />
    <ul class="m-0 p-0">
      <li *ngFor="let error of errors">
        {{ error | titlecase }}
      </li>
    </ul>
  </div>
</form>