<div class="vh-100 d-flex justify-content-center align-items-center">

    <div class="container-boilerplate p-3 row flex-column align-items-center justify-content-around">

        <div class="col-auto">
            <img width="60px" src="assets/project/logo.svg" alt="logo">
        </div>
        <div class="col-auto">
            <router-outlet></router-outlet>
        </div>

    </div>


</div>


<div class="bg-image-container">
    <img class="golden_img" src="assets/project/golden_bg.jpg" alt="bg-image">
    <div class="opacity-overlay"></div>
</div>


