.bg-image-container {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 33%;

  .golden_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: saturate(0);
  }

  .opacity-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #247BA0;
    opacity: (0.6);
  }

 }

.container-boilerplate {
  width: 400px;
  min-height: 200px;
  max-height: 600px;
  overflow: auto;
  z-index: 10;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}


@media screen and (max-width: 600px) {
  .container-boilerplate {

    border-radius: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
   }
}



::ng-deep {
  .form-title {
    font-size: 21px;
    font-weight: 600;
  }

  .form-submit-button {
    background-color: rgb(255, 89, 97);
    border: solid rgb(253, 56, 56) 0.5px;
    border-radius: 8px;
    font-weight: 600;
    padding: 10px 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    &:hover {
      filter: opacity(0.8);
      transition: all 0.2s;
    }
    &:not(:hover) {
      filter: opacity(1);
      transition: all 0.2s;
    }
  }

}