.tabs {
  border-bottom: solid #d0d0d0 0.5px;

  .entry {
    position: relative;
    top: -5px;
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    font-size: 14px;
    font-weight: 300;

    &-active {
      border-bottom: solid #0a2463 3px;
    }
  }
}
