<form [formGroup]="registerForm" class="row flex-column justify-content-center align-items-center">

    <div class="col py-3 d-flex justify-content-center">
        <span class="form-title">
            Register here!
        </span>
    </div>

    <div class="col p-0">
        <input type="text" class="form-control my-2" placeholder="Email">
    </div>

    <div class="col p-0">
        <input type="text" class="form-control my-2" placeholder="Password">
    </div>

    <div class="col p-0">
        <input type="text" class="form-control my-2" placeholder="Confirm your password">
    </div>

    <div class="col d-flex justify-content-end p-0">
        <button class="form-submit-button w-100">Register</button>
    </div>


</form>
