.outer {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 20px;
}

::ng-deep {
  .form-submit-button {

    &:disabled {
      opacity: 0.3;
    }

    &-danger {
      background-color: #630a0a;
      border: solid rgb(138, 0, 0) 0.5px;
    }

    background-color: #0a2463;
    border: solid rgb(0, 19, 44) 0.5px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: white;

    &:hover {
      filter: opacity(0.8);
      transition: all 0.2s;
    }

    &:not(:hover) {
      filter: opacity(1);
      transition: all 0.2s;
    }
  }


  input {
    font-size: 14px;
  }
}


.mag {
  animation: fade 0.2s linear;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}