.magazzino {
  padding: 15px !important;
  border-radius: 4px !important;
}


::ng-deep {
  .p-datatable .p-datatable-thead > tr > th:nth-child(1):not(.not) {
    border-radius: 4px 0 0 0 !important;
  }

  .p-datatable .p-datatable-thead > tr > th:nth-last-child(1) {
    border-radius: 0 4px 0 0 !important;
  }

  .p-datatable .p-sortable-column {
    font-size: 14px !important;
  }

  .p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    border: 1px solid #dee2e6;
    border-width: 0 0 1px 0;
    padding: 0.5rem 1rem;
    font-size: 14px;
  }

  .p-paginator {
    justify-content: end !important;
  }

  .p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last {
    background-color: rgba(10, 36, 99, 0.42);
    color: #000000;
    border-radius: 50px;
    margin: 10px;
    transform: scale(0.8);
  }

  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: transparent;
  }

  .button {
    padding: 5px;
    cursor: pointer;
    &:hover {
      background-color: #e5e5e5;
      padding: 5px;
      border-radius: 4px;
    }
  }

}