<form
        [formGroup]="changeForm"
        (ngSubmit)="changePassword()"
        class="row row-cols-1 m-1 p-0 d-flex flex-column align-items-center"
>
    <div class="col m-0 p-1 d-flex">
        <input
                class="form-control"
                type="password"
                formControlName="old_password"
                placeholder="Old password"
        />
    </div>
    <div class="col m-0 p-1 d-flex">
        <div class="input-group">
            <input
            class="form-control form-control-password"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="new_password"
            placeholder="New password"
            />
            <div class="d-flex align-items-center justify-content-center me-2">
                <span class="input-group-text"
                      (click)="toggleShowPassword()"
                      role="button">
                  <img *ngIf="!showPassword" class="show-password" src="assets/project/eye-open.svg" alt="open">
                  <img *ngIf="showPassword" class="show-password" src="assets/project/eye-close.svg" alt="close">
                </span>
            </div>
        </div>
        <input
                class="form-control"
                type="password"
                formControlName="confirm_password"
                placeholder="Confirm new password"
        />
    </div>
    <div class="col m-0 p-1 d-flex justify-content-end">
        <button [disabled]="changeForm.invalid" type="submit" class="form-submit-button form-submit-button-primary p-1">
            Confirm
        </button>
    </div>
    <div
            class="col position-relative error-popup d-flex align-items-center"
            *ngIf="errors.length > 0"
    >
        <img
                class="close"
                (click)="errors = []"
                width="20px"
                src="assets/project/close.svg"
                alt="close"
        />
        <ul class="m-0 p-0">
            <li *ngFor="let error of errors">
                {{ error | titlecase }}
            </li>
        </ul>
    </div>
</form>