<form
  [formGroup]="changeForm"
  (ngSubmit)="changePassword()"
  class="row row-cols-1 m-1 p-0 d-flex flex-column align-items-center"
>
  <div class="col m-0 p-1 d-flex">
    <input
      class="form-control me-2"
      type="text"
      formControlName="old_password"
      placeholder="Old password"
    />
    <input
      class="form-control"
      type="text"
      formControlName="new_password"
      placeholder="New password"
    />
  </div>
  <div class="col m-0 p-1 d-flex">
    <input
      class="form-control"
      type="text"
      formControlName="confirm_password"
      placeholder="Confirm new password"
    />
  </div>
  <div class="col m-0 p-1 d-flex justify-content-end">
    <button [disabled]="changeForm.invalid" type="submit" class="form-submit-button form-submit-button-primary">Confirm</button>
  </div>
  <div
    class="col position-relative error-popup d-flex align-items-center"
    *ngIf="errors.length > 0"
  >
    <img
      class="close"
      (click)="errors = []"
      width="20px"
      src="assets/project/close.svg"
      alt="close"
    />
    <ul class="m-0 p-0">
      <li *ngFor="let error of errors">
        {{ error | titlecase }}
      </li>
    </ul>
  </div>
</form>