<form [formGroup]="createForm" (ngSubmit)="create()" class="row m-1 p-0 align-items-center">

    <div class="col p-2 m-0 d-flex flex-column">
        <small class="fw-bold">Supplier name</small>
        <input class="form-control" formControlName="supplier" type="text">
    </div>

    <div class="col-12 p-2 m-0 d-flex justify-content-end">
        <button [disabled]="createForm.invalid" type="submit" class="form-submit-button">Submit</button>
    </div>
    <div class="col-12 position-relative error-popup d-flex align-items-center" *ngIf="errors.length > 0">
        <img
                class="close"
                (click)="errors = []"
                width="20px"
                src="assets/project/close.svg"
                alt="close"
        />
        <ul class="m-0 p-0">
            <li *ngFor="let error of errors">
                {{ error | titlecase }}
            </li>
        </ul>
    </div>

</form>