<form (ngSubmit)="login()" class="row flex-column align-items-center justify-content-center">
  <div class="col d-flex justify-content-center">
    <span class="form-title py-3"> Login </span>
  </div>
  <div class="col p-0">
    <input type="email" class="form-control my-2" placeholder="Email" />
  </div>
  <div class="col p-0">
    <input type="password" class="form-control my-2" placeholder="Password" />
  </div>
  <div class="col p-0">
    <a href="" class="my-2"> Forgot your password? </a>
  </div>
  <div class="col p-0">
    <button type="submit" class="form-submit-button w-100 mt-2">Login</button>
  </div>
</form>