<div class="m-1 entry entry-change">
         <div class="row p-1 title">
            <div class="col-4">
                <small>
                    ASIN
                </small>
            </div>
            <div class="col-4">
                <small>
                    Quantity
                </small>
            </div>
            <div class="col-4">
                <small>
                    Unit price
                </small>
            </div>
        </div>
         <div class="row item" *ngFor="let item of options.item.items">
            <div class="col-4">{{item.ASIN}}</div>
            <div class="col-4">{{item.quantity}}</div>
            <div class="col-4">{{item.unitPrice | currency:'€'}}</div>
        </div>


</div>

