

<div class="row container-tab" style="gap: 5px;">
    <div class="col fw-bold clickable d-flex align-items-center justify-content-center" (click)="step = 1" [class]="step === 1 ? 'active py-1' : 'disabled'">Purchases</div>
    <div class="col fw-bold clickable d-flex align-items-center justify-content-center" (click)="step = 2" [class]="step === 2 ? 'active py-1' : 'disabled'">Sales</div>
</div>


<div class="row my-4">
    <div class="col" *ngIf="step === 1">
        <app-purchases></app-purchases>
    </div>
    <div class="col" *ngIf="step === 2">
        <app-sales></app-sales>
    </div>
</div>