<div *ngIf="message === 'email-not-verified'" class="message-box col-12 d-flex align-items-center" style="gap: 10px">
    <img width="60px" src="assets/project/error.svg" alt="errorS">
    <div class="d-flex flex-column">
        <span>Your email is not verified! </span>
        <span> Please check your email's inbox.</span>
    </div>
</div>

<div *ngIf="message === 'email-verifying'" class="message-box col-12 d-flex justify-content-around align-items-center">
    <img width="40px" class="loading" src="assets/project/loading.svg" alt="errors">
    <span>We are verifying your email!</span>
</div>

<div *ngIf="message === 'email-verified'" class="message-box col-12 d-flex justify-content-center align-items-center"
     style="gap: 20px">
    <img width="60px" src="assets/project/check.svg" alt="errors">
    <div class="d-flex flex-column">
        <span>Email verified successfully!</span>
        <a routerLink="/auth/login">Go to login!</a>
    </div>
</div>

<div *ngIf="message === 'email-check'"
     class="message-box col-12 d-flex justify-content-center flex-column align-items-center">
    <div class="d-flex justify-content-center flex-column align-items-center">
        <span class="text-center">You must verify your account to log in!</span>
        <span class="fw-bold">Check your emails</span>
    </div>
</div>

<div class="d-flex justify-content-center mt-3" style="font-size: 12px">
    <a routerLink="/auth/login">Return to login</a>
</div>